= form_for(@piece) do |f|
  %div
    = f.label :url
    = f.text_field :url, placeholder: "YouTube URL"

  %div
    = f.label :title
    = f.text_field :title, placeholder: "Title"

  %div
    = f.label :composer
    = f.text_field :composer, placeholder: "Composer"

  .actions
    = f.submit "Add Piece"
