= form_for(@piece) do |f|
  %div.review-form-title
    = f.label :url
    = f.text_field :url, placeholder: "YouTube URL"

  %div.review-form-title
    = f.label :title
    = f.text_field :title, placeholder: "Title"

  %div.review-form-title
    = f.label :composer
    = f.text_field :composer, placeholder: "Composer"

  .form-actions
    = f.button "Add Piece"
