.search.clearfix
  = form_tag(pieces_path, :method => "get", id: "search-form") do
    = text_field_tag :title_search, params[:title_search], placeholder: "Search by Title"
    = submit_tag "Title Search", :name => nil, label: "Title Search", id: "title_search_button"
  = form_tag(pieces_path, :method => "get", id: "search-form") do
    = text_field_tag :composer_search, params[:composer_search], placeholder: "Search by Composer"
    = submit_tag "Composer Search", :name => nil, label: "Composer Search", id: "composer_search_button"

.pieces
  - if !@pieces.empty?
    - @pieces.each do |piece|
      = link_to piece_path(piece) do
        .peace
          %p.piece-title= piece.title
          %p.piece-composer= piece.composer

  %hr.line
  = paginate @pieces
- else
  %h2 No results found
