= form_tag(pieces_path, method: :get, id: "search-form") do
  = text_field_tag :keyword_search, params[:keyword_search], placeholder: "Search by Keywords"
  = submit_tag "Keyword Search", :name => nil, label: "Keyword Search", id: "keyword_search_button"

.pieces
  - if !@pieces.empty?
    - @pieces.each do |piece|
      .piece
        %p.piece-title= link_to piece.title, piece_path(piece)
        %p.piece-composer= piece.composer
  - else
    %h2 No results found
