.show-container
  %h1.show-title= @piece.title
  %h5.show-composer= @piece.composer

- if user_signed_in?
  - if current_user == @piece.user || current_user.role == "admin"
    .links
    %p= link_to "Edit Piece", edit_piece_path(@piece)
    %p= link_to "Delete Piece", @piece, method: :delete

%div= render 'reviews/form'

- if !@reviews.nil?
  %ul
    - @reviews.each do |review|
      -if !review.title.empty?
        %li= review.title
        %li= review.body
        %li= "written by: #{review.user.username}"

  = paginate @reviews
