.show-container
  %h1.show-title#show-title1= @piece.title
  %h5.show-composer= @piece.composer

%div.links
  %p= link_to "Edit", edit_piece_path(@piece)
  %p= link_to "Delete", @piece, method: :delete

%div= render 'reviews/form'

- if !@reviews.nil?
  %ul.clearfix#review_block
    - @reviews.each do |review|
      -if !review.title.empty?
        %div.review-container{id: "review_id-#{review.id}", review_id: "#{review.id}"}
          %div.voting-title-container.clearfix
            %div.voting
              -# = link_to "+", votes_path(vote: {review_id: review.id, up: true}), method: :post
              -# = link_to "-", votes_path(vote: {review_id: review.id, up: false}), method: :post
              - if user_signed_in?
                - current_vote = current_user.votes.where(review: review).first
              - if current_vote.nil? || current_vote.up == 0
                %span.nil_vote{change_up_to: "1"}= link_to "+", votes_path(vote: {review_id: review.id, up: 1}), method: :post
                %span.nil_vote{change_up_to: "-1"}= link_to "-", votes_path(vote: {review_id: review.id, up: -1}), method: :post
              - elsif current_vote.up == 1
                %span.voted{change_up_to: "0"}= link_to "+", votes_path(vote: {review_id: review.id, up: 0}), method: :post
                %span.nil_vote{change_up_to: "-1"}= link_to "-", votes_path(vote: {review_id: review.id, up: -1}), method: :post
              - elsif current_vote.up == -1
                %span.nil_vote{change_up_to: "1"}= link_to "+", votes_path(vote: {review_id: review.id, up: 1}), method: :post
                %span.voted{change_up_to: "0"}= link_to "-", votes_path(vote: {review_id: review.id, up: 0}), method: :post

            %h5.review-title= review.title

          %p= review.body
          %p= "written by: #{review.user.username}"


  = paginate @reviews
