.show-container
  %h1.show-title#show-title1= @piece.title
  %h5.show-composer= @piece.composer

%div.links
  %p= link_to "Edit", edit_piece_path(@piece)
  %p= link_to "Delete", @piece, method: :delete

%div= render 'reviews/form'

- if !@reviews.nil?
  %ul.clearfix
    - @reviews.each do |review|
      -if !review.title.empty?

        %div.review-container
          %div.voting-title-container.clearfix
            %div.voting
              -# = link_to "+", votes_path(vote: {review_id: review.id, up: true}), method: :post
              -# = link_to "-", votes_path(vote: {review_id: review.id, up: false}), method: :post

              - if current_user.votes.where(review: review).first.nil?
                %span{id: "#{review.id}"}= link_to "+", votes_path(vote: {review_id: review.id, up: true}), method: :post
                %span{id: "#{review.id}"}= link_to "-", votes_path(vote: {review_id: review.id, up: false}), method: :post
              - elsif current_user.votes.where(review: review).first.up == true
                %span.voted +
                %span{id: "#{review.id}"}= link_to "-", votes_path(vote: {review_id: review.id, up: false}), method: :post
              - elsif
                %span{id: "#{review.id}"}= link_to "+", votes_path(vote: {review_id: review.id, up: true}), method: :post
                %span.voted -

            %h5.review-title= review.title

          %p= review.body
          %p= "written by: #{review.user.username}"


  = paginate @reviews
