.show-container
  %h1.show-title#show-title1= @piece.title
  %h5.show-composer= @piece.composer
  %p= "Added by #{@piece.user.username}"

- if user_signed_in?
  - if current_user.can_edit?(@piece)
    .links
      %p= link_to "Edit Piece", edit_piece_path(@piece)
      - if current_user.admin
        %p= link_to "Delete Piece", @piece, method: :delete

= render 'reviews/review'
