.show-container
  %h1.show-title= @piece.title
  %h5.show-composer= @piece.composer

- if user_signed_in?
  - if current_user == @piece.user || current_user.admin
    .links
      %p= link_to "Edit Piece", edit_piece_path(@piece)
      - if current_user.admin
        %p= link_to "Delete Piece", @piece, method: :delete

%div= render 'reviews/form'

- if !@reviews.nil?
  %ul
    - @reviews.each do |review|
      -if !review.title.empty?
        %li= review.title
        %li= review.body
        %li= "written by: #{review.user.username}"
        - unless current_user.nil?
          - if current_user.can_edit_piece?(@piece)
            .links
              %p= link_to "Edit Review", edit_piece_review_path(@piece, review)
              %p= link_to "Delete Review", piece_review_path(@piece, review), method: :delete

  = paginate @reviews
